.navbar_container{
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: space-between;
    padding: 5px 1.5rem;
}
.rightContent{
    padding-right: 1rem;

}
.navList{
    display: flex;
    gap: 1.5rem;
}
.serviceOption{
    display: flex;
    align-items: center;
    gap: 3px;
}
.dropdownIcon{
    font-size: 20px;
    color: var(--primary_color);
}